<html>
<head>
  <title>Sudoku By G.</title>   
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head> 
<div class='homestyle'>

    <img src='/images/sudoku.jpg' height="400" width="400" img align="middle">
    <button class='x'><a href="/play">PLAY</button></a>
    </div>
<p> by Gianni G. Guitteaud</p>
</html>

