<html>

<head>
  <title>Home</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head> 
<div class='homestyle'>

    <img src='/images/sudoku.jpg' height="500" width="500" img align="middle">
    <button class='x'><a href="/play">PLAY</button></a>
    </div>
<p> by Gianni G. Guitteaud</p>
</html>

