
<html>
<head>
  <title>GG's Sud Au Cul</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body> 
  <h1>Sud au Cul!!</h1>
  <div id="sudoku">
    <form action="/" method="post">
      <!-- all boxes, rows and cells -->
      <!-- one div for each row -->
      <% 3.times do |row| %>
        <div class='row'>
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell-row">
                  <% 3.times do |cell| %>
                    <%= partial :cell, :locals => {:cell_index => row * 27 + box * 3 + cell_row * 9 + cell} %>
                  <%end%>
                </div>
              <%end%>
            </div>
          <% end %>
        </div>
      <% end %>  
      <button>What the fuck is the answer?</button>
      <button><a href="/solution">Getting lazy? Check Solution</button>
    </form>
        <a href="/new">If you can't figure it out.. get a new Sudoku
  </div>
</body>
</html>
