
<html>
<body>
<head>
  <title>d(*-*)b</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body> 
  <a href="/">
<img src="/images/logo.jpg" width="300" height="80" img align="middle"></a>
<div id="flash">
  <%= flash[:notice] %>
</div>
  <div id="sudoku">
    <form action="/play" method="post">
      <!-- all boxes, rows and cells -->
      <!-- one div for each row -->
      <% 3.times do |row| %>
        <div class='row'>
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell-row">
                  <% 3.times do |cell| %>
                    <%= partial :cell, :locals => {:cell_index => row * 27 + box * 3 + cell_row * 9 + cell} %>
                  <%end%>
                </div>
              <%end%>
            </div>
          <% end %>
        </div>
      <% end %> 
      <p></p> 
      <button class='x'>Is that right??</button>
      <button class='x'><a href="/solution">Too lazy? Solution here mate</button>
    </form>
      <p></p>
      <button class='x'><a href="/new">Get a new Sudoku lazy bastard</button>
  </div>
</body>
</html>
