div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 46px;
  height: 46px;
}

#sudoku {
  font-size: 4;
  text-align: center;
}
body {
  text-align: center;
  font-family: Palatino;
}