div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 46px;
  height: 46px;
}

#sudoku {
  font-size: 12;
  text-align: center;
}
body {
  text-align: center;
  font-family: Palatino;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}
a {text-decoration: none;
	color: black;

}